<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>
	<typeAliases>
		<typeAlias alias="CubeInfo" type="com.sevencolor.domain.pojo.CubeInfo" />
		<typeAlias alias="CubeRebalanceInfo"
			type="com.sevencolor.domain.pojo.CubeRebalanceInfo" />
		<typeAlias alias="CubeRebalanceStatisticsInfo"
			type="com.sevencolor.domain.pojo.CubeRebalanceStatisticsInfo" />
	</typeAliases>
	<mappers>
		<mapper resource="com/sevencolor/domain/mapping/XQDailyCubeMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQDailyCubeRebMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQDailyCubeRebStatMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQMonthlyCubeMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQMonthlyCubeRebMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQMonthlyCubeRebStatMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQYearlyCubeMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQYearlyCubeRebMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQYearlyCubeRebStatMapper.xml" />
		<mapper resource="com/sevencolor/domain/mapping/XQSummeryCubeRebStatMapper.xml" />
	</mappers>
</configuration>