<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sevencolor.domain.dao.StockInfoMapper">
	<resultMap id="BaseResultMap" type="com.sevencolor.domain.pojo.StockInfo">
		<id column="dbID" property="dbid" jdbcType="INTEGER" />
		<result column="stockNum" property="stocknum" jdbcType="VARCHAR" />
		<result column="stockName" property="stockname" jdbcType="VARCHAR" />
		<result column="currencyUnit" property="currencyunit" jdbcType="VARCHAR" />
		<result column="currentPrice" property="currentprice" jdbcType="VARCHAR" />
		<result column="tradingVolume" property="tradingvolume"
			jdbcType="VARCHAR" />
		<result column="percentage" property="percentage" jdbcType="VARCHAR" />
		<result column="change" property="change" jdbcType="VARCHAR" />
		<result column="open" property="open" jdbcType="VARCHAR" />
		<result column="high" property="high" jdbcType="VARCHAR" />
		<result column="low" property="low" jdbcType="VARCHAR" />
		<result column="amplitude" property="amplitude" jdbcType="VARCHAR" />
		<result column="fallStop" property="fallstop" jdbcType="VARCHAR" />
		<result column="riseStop" property="risestop" jdbcType="VARCHAR" />
		<result column="lastClose" property="lastclose" jdbcType="VARCHAR" />
		<result column="close" property="close" jdbcType="VARCHAR" />
		<result column="high52Week" property="high52week" jdbcType="VARCHAR" />
		<result column="low52week" property="low52week" jdbcType="VARCHAR" />
		<result column="marketCapital" property="marketcapital"
			jdbcType="VARCHAR" />
		<result column="floatMarketCapital" property="floatmarketcapital"
			jdbcType="VARCHAR" />
		<result column="floatShares" property="floatshares" jdbcType="VARCHAR" />
		<result column="totalShares" property="totalshares" jdbcType="VARCHAR" />
		<result column="eps" property="eps" jdbcType="VARCHAR" />
		<result column="net_assets" property="netAssets" jdbcType="VARCHAR" />
		<result column="peTTM" property="pettm" jdbcType="VARCHAR" />
		<result column="peLYR" property="pelyr" jdbcType="VARCHAR" />
		<result column="dividend" property="dividend" jdbcType="VARCHAR" />
		<result column="psr" property="psr" jdbcType="VARCHAR" />
		<result column="turnoverRate" property="turnoverrate" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		dbID, stockNum, stockName, currencyUnit, currentPrice,
		tradingVolume,
		percentage,
		change, open, high, low, amplitude, fallStop,
		riseStop, lastClose, close,
		high52Week,
		low52week, marketCapital,
		floatMarketCapital, floatShares, totalShares, eps,
		net_assets,
		peTTM,
		peLYR, dividend, psr, turnoverRate, amount
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from stock
		where dbID = #{dbid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from stock
		where dbID = #{dbid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.sevencolor.domain.pojo.StockInfo"
		useGeneratedKeys="true" keyProperty="dbid">
		insert into stock ( stockNum,
		stockName,
		currencyUnit, currentPrice, tradingVolume,
		percentage,
		change, open,
		high, low, amplitude,
		fallStop, riseStop, lastClose,
		close, high52Week, low52week,
		marketCapital, floatMarketCapital,
		floatShares,
		totalShares, eps, net_assets,
		peTTM, peLYR, dividend,
		psr,
		turnoverRate, amount
		)
		values (
		#{stocknum,jdbcType=VARCHAR},
		#{stockname,jdbcType=VARCHAR},
		#{currencyunit,jdbcType=VARCHAR},
		#{currentprice,jdbcType=VARCHAR},
		#{tradingvolume,jdbcType=VARCHAR},
		#{percentage,jdbcType=VARCHAR},
		#{change,jdbcType=VARCHAR},
		#{open,jdbcType=VARCHAR},
		#{high,jdbcType=VARCHAR},
		#{low,jdbcType=VARCHAR},
		#{amplitude,jdbcType=VARCHAR},
		#{fallstop,jdbcType=VARCHAR},
		#{risestop,jdbcType=VARCHAR},
		#{lastclose,jdbcType=VARCHAR},
		#{close,jdbcType=VARCHAR},
		#{high52week,jdbcType=VARCHAR},
		#{low52week,jdbcType=VARCHAR},
		#{marketcapital,jdbcType=VARCHAR},
		#{floatmarketcapital,jdbcType=VARCHAR},
		#{floatshares,jdbcType=VARCHAR},
		#{totalshares,jdbcType=VARCHAR},
		#{eps,jdbcType=VARCHAR}, #{netAssets,jdbcType=VARCHAR},
		#{pettm,jdbcType=VARCHAR}, #{pelyr,jdbcType=VARCHAR},
		#{dividend,jdbcType=VARCHAR},
		#{psr,jdbcType=VARCHAR},
		#{turnoverrate,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.sevencolor.domain.pojo.StockInfo"
		useGeneratedKeys="true" keyProperty="dbid">
		insert into stock
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="stocknum != null">
				stockNum,
			</if>
			<if test="stockname != null">
				stockName,
			</if>
			<if test="currencyunit != null">
				currencyUnit,
			</if>
			<if test="currentprice != null">
				currentPrice,
			</if>
			<if test="tradingvolume != null">
				tradingVolume,
			</if>
			<if test="percentage != null">
				percentage,
			</if>
			<if test="change != null">
				change,
			</if>
			<if test="open != null">
				open,
			</if>
			<if test="high != null">
				high,
			</if>
			<if test="low != null">
				low,
			</if>
			<if test="amplitude != null">
				amplitude,
			</if>
			<if test="fallstop != null">
				fallStop,
			</if>
			<if test="risestop != null">
				riseStop,
			</if>
			<if test="lastclose != null">
				lastClose,
			</if>
			<if test="close != null">
				close,
			</if>
			<if test="high52week != null">
				high52Week,
			</if>
			<if test="low52week != null">
				low52week,
			</if>
			<if test="marketcapital != null">
				marketCapital,
			</if>
			<if test="floatmarketcapital != null">
				floatMarketCapital,
			</if>
			<if test="floatshares != null">
				floatShares,
			</if>
			<if test="totalshares != null">
				totalShares,
			</if>
			<if test="eps != null">
				eps,
			</if>
			<if test="netAssets != null">
				net_assets,
			</if>
			<if test="pettm != null">
				peTTM,
			</if>
			<if test="pelyr != null">
				peLYR,
			</if>
			<if test="dividend != null">
				dividend,
			</if>
			<if test="psr != null">
				psr,
			</if>
			<if test="turnoverrate != null">
				turnoverRate,
			</if>
			<if test="amount != null">
				amount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="stocknum != null">
				#{stocknum,jdbcType=VARCHAR},
			</if>
			<if test="stockname != null">
				#{stockname,jdbcType=VARCHAR},
			</if>
			<if test="currencyunit != null">
				#{currencyunit,jdbcType=VARCHAR},
			</if>
			<if test="currentprice != null">
				#{currentprice,jdbcType=VARCHAR},
			</if>
			<if test="tradingvolume != null">
				#{tradingvolume,jdbcType=VARCHAR},
			</if>
			<if test="percentage != null">
				#{percentage,jdbcType=VARCHAR},
			</if>
			<if test="change != null">
				#{change,jdbcType=VARCHAR},
			</if>
			<if test="open != null">
				#{open,jdbcType=VARCHAR},
			</if>
			<if test="high != null">
				#{high,jdbcType=VARCHAR},
			</if>
			<if test="low != null">
				#{low,jdbcType=VARCHAR},
			</if>
			<if test="amplitude != null">
				#{amplitude,jdbcType=VARCHAR},
			</if>
			<if test="fallstop != null">
				#{fallstop,jdbcType=VARCHAR},
			</if>
			<if test="risestop != null">
				#{risestop,jdbcType=VARCHAR},
			</if>
			<if test="lastclose != null">
				#{lastclose,jdbcType=VARCHAR},
			</if>
			<if test="close != null">
				#{close,jdbcType=VARCHAR},
			</if>
			<if test="high52week != null">
				#{high52week,jdbcType=VARCHAR},
			</if>
			<if test="low52week != null">
				#{low52week,jdbcType=VARCHAR},
			</if>
			<if test="marketcapital != null">
				#{marketcapital,jdbcType=VARCHAR},
			</if>
			<if test="floatmarketcapital != null">
				#{floatmarketcapital,jdbcType=VARCHAR},
			</if>
			<if test="floatshares != null">
				#{floatshares,jdbcType=VARCHAR},
			</if>
			<if test="totalshares != null">
				#{totalshares,jdbcType=VARCHAR},
			</if>
			<if test="eps != null">
				#{eps,jdbcType=VARCHAR},
			</if>
			<if test="netAssets != null">
				#{netAssets,jdbcType=VARCHAR},
			</if>
			<if test="pettm != null">
				#{pettm,jdbcType=VARCHAR},
			</if>
			<if test="pelyr != null">
				#{pelyr,jdbcType=VARCHAR},
			</if>
			<if test="dividend != null">
				#{dividend,jdbcType=VARCHAR},
			</if>
			<if test="psr != null">
				#{psr,jdbcType=VARCHAR},
			</if>
			<if test="turnoverrate != null">
				#{turnoverrate,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sevencolor.domain.pojo.StockInfo">
		update stock
		<set>
			<if test="stocknum != null">
				stockNum = #{stocknum,jdbcType=VARCHAR},
			</if>
			<if test="stockname != null">
				stockName = #{stockname,jdbcType=VARCHAR},
			</if>
			<if test="currencyunit != null">
				currencyUnit = #{currencyunit,jdbcType=VARCHAR},
			</if>
			<if test="currentprice != null">
				currentPrice = #{currentprice,jdbcType=VARCHAR},
			</if>
			<if test="tradingvolume != null">
				tradingVolume = #{tradingvolume,jdbcType=VARCHAR},
			</if>
			<if test="percentage != null">
				percentage = #{percentage,jdbcType=VARCHAR},
			</if>
			<if test="change != null">
				change = #{change,jdbcType=VARCHAR},
			</if>
			<if test="open != null">
				open = #{open,jdbcType=VARCHAR},
			</if>
			<if test="high != null">
				high = #{high,jdbcType=VARCHAR},
			</if>
			<if test="low != null">
				low = #{low,jdbcType=VARCHAR},
			</if>
			<if test="amplitude != null">
				amplitude = #{amplitude,jdbcType=VARCHAR},
			</if>
			<if test="fallstop != null">
				fallStop = #{fallstop,jdbcType=VARCHAR},
			</if>
			<if test="risestop != null">
				riseStop = #{risestop,jdbcType=VARCHAR},
			</if>
			<if test="lastclose != null">
				lastClose = #{lastclose,jdbcType=VARCHAR},
			</if>
			<if test="close != null">
				close = #{close,jdbcType=VARCHAR},
			</if>
			<if test="high52week != null">
				high52Week = #{high52week,jdbcType=VARCHAR},
			</if>
			<if test="low52week != null">
				low52week = #{low52week,jdbcType=VARCHAR},
			</if>
			<if test="marketcapital != null">
				marketCapital = #{marketcapital,jdbcType=VARCHAR},
			</if>
			<if test="floatmarketcapital != null">
				floatMarketCapital =
				#{floatmarketcapital,jdbcType=VARCHAR},
			</if>
			<if test="floatshares != null">
				floatShares = #{floatshares,jdbcType=VARCHAR},
			</if>
			<if test="totalshares != null">
				totalShares = #{totalshares,jdbcType=VARCHAR},
			</if>
			<if test="eps != null">
				eps = #{eps,jdbcType=VARCHAR},
			</if>
			<if test="netAssets != null">
				net_assets = #{netAssets,jdbcType=VARCHAR},
			</if>
			<if test="pettm != null">
				peTTM = #{pettm,jdbcType=VARCHAR},
			</if>
			<if test="pelyr != null">
				peLYR = #{pelyr,jdbcType=VARCHAR},
			</if>
			<if test="dividend != null">
				dividend = #{dividend,jdbcType=VARCHAR},
			</if>
			<if test="psr != null">
				psr = #{psr,jdbcType=VARCHAR},
			</if>
			<if test="turnoverrate != null">
				turnoverRate = #{turnoverrate,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=VARCHAR},
			</if>
		</set>
		where dbID = #{dbid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sevencolor.domain.pojo.StockInfo">
		update stock
		set
		stockNum = #{stocknum,jdbcType=VARCHAR},
		stockName =
		#{stockname,jdbcType=VARCHAR},
		currencyUnit =
		#{currencyunit,jdbcType=VARCHAR},
		currentPrice =
		#{currentprice,jdbcType=VARCHAR},
		tradingVolume =
		#{tradingvolume,jdbcType=VARCHAR},
		percentage =
		#{percentage,jdbcType=VARCHAR},
		change = #{change,jdbcType=VARCHAR},
		open = #{open,jdbcType=VARCHAR},
		high = #{high,jdbcType=VARCHAR},
		low =
		#{low,jdbcType=VARCHAR},
		amplitude = #{amplitude,jdbcType=VARCHAR},
		fallStop = #{fallstop,jdbcType=VARCHAR},
		riseStop =
		#{risestop,jdbcType=VARCHAR},
		lastClose =
		#{lastclose,jdbcType=VARCHAR},
		close = #{close,jdbcType=VARCHAR},
		high52Week = #{high52week,jdbcType=VARCHAR},
		low52week =
		#{low52week,jdbcType=VARCHAR},
		marketCapital =
		#{marketcapital,jdbcType=VARCHAR},
		floatMarketCapital =
		#{floatmarketcapital,jdbcType=VARCHAR},
		floatShares =
		#{floatshares,jdbcType=VARCHAR},
		totalShares =
		#{totalshares,jdbcType=VARCHAR},
		eps = #{eps,jdbcType=VARCHAR},
		net_assets = #{netAssets,jdbcType=VARCHAR},
		peTTM =
		#{pettm,jdbcType=VARCHAR},
		peLYR = #{pelyr,jdbcType=VARCHAR},
		dividend =
		#{dividend,jdbcType=VARCHAR},
		psr = #{psr,jdbcType=VARCHAR},
		turnoverRate = #{turnoverrate,jdbcType=VARCHAR},
		amount =
		#{amount,jdbcType=VARCHAR}
		where dbID = #{dbid,jdbcType=INTEGER}
	</update>
</mapper>