<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sevencolor.domain.dao.XQMonthlyCubeRebDao">
	<resultMap id="BaseResultMap" type="com.sevencolor.domain.pojo.CubeRebalanceInfo">
		<id column="dbID" property="dbid" jdbcType="BIGINT" />
		<result column="cubeID" property="cubeid" jdbcType="VARCHAR" />
		<result column="stockName" property="stockname" jdbcType="VARCHAR" />
		<result column="stockSymbol" property="stocksymbol" jdbcType="VARCHAR" />
		<result column="createdTime" property="createdtime" jdbcType="VARCHAR" />
		<result column="prevPrice" property="prevprice" jdbcType="VARCHAR" />
		<result column="currentPrice" property="currentprice" jdbcType="VARCHAR" />
		<result column="prevWeight" property="prevweight" jdbcType="VARCHAR" />
		<result column="targetWeight" property="targetweight" jdbcType="VARCHAR" />
		<result column="currentWeight" property="currentweight"
			jdbcType="VARCHAR" />
		<result column="rebalancingID" property="rebalancingid"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="RebalanceStatisticsMap"
		type="com.sevencolor.domain.pojo.CubeRebalanceStatisticsInfo">
		<result column="stockSymbol" property="stocksymbol" jdbcType="VARCHAR" />
		<result column="stockName" property="stockname" jdbcType="VARCHAR" />
		<result column="totalWeight" property="totalweight" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		dbID, cubeID, stockName, stockSymbol, createdTime,
		prevPrice, currentPrice,
		prevWeight,
		targetWeight, currentWeight,
		rebalancingID
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from xq_monthly_cube_rebalance
		where dbID = #{dbid,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		rebalanceblock
		where dbID = #{dbid,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.sevencolor.domain.pojo.CubeRebalanceInfo"
		useGeneratedKeys="true" keyProperty="dbid">
		insert into
		xq_monthly_cube_rebalance
		(cubeID, stockName,
		stockSymbol, createdTime,
		prevPrice,
		currentPrice,
		prevWeight, targetWeight,
		currentWeight,
		rebalancingID)
		values
		(#{cubeid,jdbcType=VARCHAR},
		#{stockname,jdbcType=VARCHAR},
		#{stocksymbol,jdbcType=VARCHAR},
		#{createdtime,jdbcType=VARCHAR},
		#{prevprice,jdbcType=VARCHAR},
		#{currentprice,jdbcType=VARCHAR},
		#{prevweight,jdbcType=VARCHAR},
		#{targetweight,jdbcType=VARCHAR},
		#{currentweight,jdbcType=VARCHAR},
		#{rebalancingid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.sevencolor.domain.pojo.CubeRebalanceInfo"
		useGeneratedKeys="true" keyProperty="dbid">
		insert into xq_monthly_cube_rebalance
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cubeid != null">
				cubeID,
			</if>
			<if test="stockname != null">
				stockName,
			</if>
			<if test="stocksymbol != null">
				stockSymbol,
			</if>
			<if test="createdtime != null">
				createdTime,
			</if>
			<if test="prevprice != null">
				prevPrice,
			</if>
			<if test="currentprice != null">
				currentPrice,
			</if>
			<if test="prevweight != null">
				prevWeight,
			</if>
			<if test="targetweight != null">
				targetWeight,
			</if>
			<if test="currentweight != null">
				currentWeight,
			</if>
			<if test="rebalancingid != null">
				rebalancingID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cubeid != null">
				#{cubeid,jdbcType=VARCHAR},
			</if>
			<if test="stockname != null">
				#{stockname,jdbcType=VARCHAR},
			</if>
			<if test="stocksymbol != null">
				#{stocksymbol,jdbcType=VARCHAR},
			</if>
			<if test="createdtime != null">
				#{createdtime,jdbcType=VARCHAR},
			</if>
			<if test="prevprice != null">
				#{prevprice,jdbcType=VARCHAR},
			</if>
			<if test="currentprice != null">
				#{currentprice,jdbcType=VARCHAR},
			</if>
			<if test="prevweight != null">
				#{prevweight,jdbcType=VARCHAR},
			</if>
			<if test="targetweight != null">
				#{targetweight,jdbcType=VARCHAR},
			</if>
			<if test="currentweight != null">
				#{currentweight,jdbcType=VARCHAR},
			</if>
			<if test="rebalancingid != null">
				#{rebalancingid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.sevencolor.domain.pojo.CubeRebalanceInfo">
		update xq_monthly_cube_rebalance
		<set>
			<if test="cubeid != null">
				cubeID = #{cubeid,jdbcType=VARCHAR},
			</if>
			<if test="stockname != null">
				stockName = #{stockname,jdbcType=VARCHAR},
			</if>
			<if test="stocksymbol != null">
				stockSymbol = #{stocksymbol,jdbcType=VARCHAR},
			</if>
			<if test="createdtime != null">
				createdTime = #{createdtime,jdbcType=VARCHAR},
			</if>
			<if test="prevprice != null">
				prevPrice = #{prevprice,jdbcType=VARCHAR},
			</if>
			<if test="currentprice != null">
				currentPrice = #{currentprice,jdbcType=VARCHAR},
			</if>
			<if test="prevweight != null">
				prevWeight = #{prevweight,jdbcType=VARCHAR},
			</if>
			<if test="targetweight != null">
				targetWeight = #{targetweight,jdbcType=VARCHAR},
			</if>
			<if test="currentweight != null">
				currentWeight = #{currentweight,jdbcType=VARCHAR},
			</if>
			<if test="rebalancingid != null">
				rebalancingID = #{rebalancingid,jdbcType=VARCHAR},
			</if>
		</set>
		where dbID = #{dbid,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sevencolor.domain.pojo.CubeRebalanceInfo">
		update
		xq_monthly_cube_rebalance
		set cubeID = #{cubeid,jdbcType=VARCHAR},
		stockName =
		#{stockname,jdbcType=VARCHAR},
		stockSymbol =
		#{stocksymbol,jdbcType=VARCHAR},
		createdTime =
		#{createdtime,jdbcType=VARCHAR},
		prevPrice =
		#{prevprice,jdbcType=VARCHAR},
		currentPrice =
		#{currentprice,jdbcType=VARCHAR},
		prevWeight =
		#{prevweight,jdbcType=VARCHAR},
		targetWeight =
		#{targetweight,jdbcType=VARCHAR},
		currentWeight =
		#{currentweight,jdbcType=VARCHAR},
		rebalancingID =
		#{rebalancingid,jdbcType=VARCHAR}
		where dbID = #{dbid,jdbcType=BIGINT}
	</update>
	<select id="truncateRebalance">
		truncate table xq_monthly_cube_rebalance
	</select>
	<select id="selectRebalanceStatistics" resultMap="RebalanceStatisticsMap">
		select
		stockSymbol,stockName,sum(currentWeight) as totalWeight
		from
		xq_monthly_cube_rebalance
		group by stockSymbol having totalWeight >=
		10
	</select>
</mapper>